<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <json set:type="Alienlab.OttersHub.Data.DataProviders.FilePropertiesJsonDataProvider, Alienlab.OttersHub"/>
    </dataProviders>
  </sitecore>
</configuration>