<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <databases>
      <database id="core">
        <dataProviders>
          <dataProvider>
            <FileMappings>
              <DefaultMapping set:file="C:\Sitecore\Projects\otters-hub\src\Alienlab.OttersHub\App_Data\$(id).json" />
            </FileMappings>
          </dataProvider>
        </dataProviders>
      </database>
      <database id="master">
        <dataProviders>
          <dataProvider>
            <FileMappings>
              <DefaultMapping set:file="C:\Sitecore\Projects\otters-hub\src\Alienlab.OttersHub\App_Data\$(id).json" />
            </FileMappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
    <settings>
      <setting name="Media.BlobFolder" set:value="C:\Sitecore\Projects\otters-hub\src\Alienlab.OttersHub\App_Data\MediaBlobs" />
    </settings>
  </sitecore>
</configuration>