<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <databases>
      <database id="core">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <FileMappings>
              <DefaultMapping file="/App_Data/core-otters-hub.json" />
            </FileMappings>
          </dataProvider>
        </dataProviders>
      </database>
      <database id="master">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <FileMappings>
              <DefaultMapping file="/App_Data/master-otters-hub.json" />
            </FileMappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
    <settings>
      <setting name="Media.UploadAsFiles" set:value="true" />
    </settings>
  </sitecore>
</configuration>