<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sc.variable name="webDAVPrefix" value="/sitecore_files">
			<patch:delete />
		</sc.variable>

    <customHandlers>
      <handler trigger="$(webDAVPrefix)" handler="sitecore_webDAV.ashx">
				<patch:delete />
			</handler>
    </customHandlers>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.CheckWebDAVConfiguration, Sitecore.Kernel" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']">
					<patch:delete />
				</processor>
      </initialize>
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.WebDAVCustomHandler, Sitecore.Kernel" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel']">
					<patch:delete />
				</processor>
      </preprocessRequest>
      
      <group groupName="WebDAV" name="WebDAV">
        <patch:delete />
      </group>
    </pipelines>

    <webdav>
      <patch:delete />
    </webdav>

    <scheduling>
      <agent type="Sitecore.Tasks.CleanupFDAObsoleteMediaData">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.WebDAVOptionsCleanupAgent">
        <patch:delete />
      </agent>
    </scheduling>

    <mediaLibrary>
      <mediaPrefixes>
        <prefix value="$(webDAVPrefix)">
					<patch:delete />
				</prefix>
      </mediaPrefixes>
    </mediaLibrary>
    
    <settings>
      <setting name="WebDAV.AssociateUsernameWithLink">
				<patch:delete />
			</setting>
      <setting name="WebDAV.Enabled" set:value="false"/>
      <setting name="WebDAV.EngineLogLevel">
				<patch:delete />
			</setting>
      <setting name="WebDAV.FileDropAreaMediaLocation">
				<patch:delete />
			</setting>
      <setting name="WebDAV.Folder">
			  <patch:delete />
			</setting>
      <setting name="WebDAV.LicenseFile">
			  <patch:delete />
			</setting>
      <setting name="WebDAV.MediaHandlerName">
			  <patch:delete />
			</setting>
      <setting name="WebDAV.PromptWhenUsernameUnknown">
			  <patch:delete />
			</setting>
      <setting name="WebDAV.URLDisplayName">
			  <patch:delete />
			</setting>
      <setting name="WebDAV.UseShortURL">
			  <patch:delete />
			</setting>
    </settings>    
  </sitecore>
</configuration>
