<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Alienlab.OttersHub.Hooks.ReplaceMediaCreator, Alienlab.OttersHub" />
    </hooks>
    <sites>
      <site name="website" set:mediaRootPath="/sitecore/media library/website" set:mediaFileFolder="/App_Data/website/media" />
    </sites>
    <databases>
      <database id="core">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <FileMappings>
              <DefaultMapping file="/App_Data/core-otters-hub.json" />
            </FileMappings>
          </dataProvider>
        </dataProviders>
      </database>
      <database id="master">
        <dataProviders>
          <dataProvider ref="dataProviders/json">
            <FileMappings>
              <DefaultMapping file="/App_Data/master-otters-hub.json" />
            </FileMappings>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
    <settings>
      <setting name="Media.UploadAsFiles" set:value="true" />
    </settings>
  </sitecore>
</configuration>