<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
  	<customHandlers>
      <handler trigger="-/media/" handler="sitecore_media.ashx" />
    </customHandlers>
    <settings>
			<setting name="Media.MediaLinkPrefix" set:value="-/media" />
		</settings>
  </sitecore>
</configuration>