<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <membership defaultProvider="sitecore" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreMembershipProvider, Sitecore.Kernel" realProviderName="xml" providerWildcard="%" raiseEvents="true" />
        <add name="xml" type="Alienlab.Web.Security.XmlMembershipProvider, Alienlab.Web.Security" applicationName="Test" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="0" passwordAttemptWindow="10" passwordFormat="Clear" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" caseSensitive="false" useUniversalTime="false" fileName="Users.xml" folder="~/App_Data/" />
      </providers>
    </membership>
    <roleManager defaultProvider="sitecore" enabled="true">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Security.SitecoreRoleProvider, Sitecore.Kernel" realProviderName="xml" raiseEvents="true" />
        <add name="xml" type="Alienlab.Web.Security.XmlRoleProvider, Alienlab.Web.Security" applicationName="Test" caseSensitive="false" fileName="Roles.xml" folder="~/App_Data/" />
      </providers>
    </roleManager>
    <profile defaultProvider="xml" enabled="true" inherits="Sitecore.Security.UserProfile, Sitecore.Kernel">
      <providers>
        <clear />
        <add name="xml" type="Alienlab.Web.Security.XmlProfileProvider, Alienlab.Web.Security" applicationName="Test" fileName="Profiles.xml" folder="~/App_Data/" />
      </providers>
      <properties>
        <clear />
        <add type="System.String" name="SC_UserData" />
      </properties>
    </profile>
  </system.web>
</configuration>